/*****Loader Styles*****/
#pageWrapper{display: none;}
#loader{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1000;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -60px;
    border: 16px solid #f8f8f8;
    border-radius: 50%;
    border-top: 16px solid crimson;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*Add animation to "page content"*/
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}



/*****Main Style*****/
body{
    background-color: #1A1A1A;
    background: url(../images/binding_dark.png);        

}
/*Universal Styles*/
.no-margin{margin-left: 0; margin-right: 0;}
.container{padding:5px;}
.row{margin:auto;}
.white{color:white;}
.gray{color:#8F8F8F;}
.inline{display: inline;}
.main-color{color:crimson;}
.horizontal-rule{height:1px; background-color: crimson;clear: both;display: block;}
.center-text{text-align: center;}
.no-padding{padding:0;}
a:hover{cursor: pointer;}

/*Main Navigation*/
#main-navigation{float: right;margin-top: 25px}
#main-navigation li{display: inline-block;}
#main-navigation li a{color:#8F8F8F;font-size: 21px;padding-left: 15px;display: block;}
#main-navigation li a:hover{color:white;text-decoration: none;}
#main-navigation li a.active-main-navigation{color:white;}

/*****Header*****/
#slogan{margin-top: 15px; margin-bottom: 15px;}

/*Social Media*/
#social-media{text-align: right;margin-bottom: 0;}
#social-media li{
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
}
#social-media li:last{
    display: inline-block;
    margin-right: 0;
}
#social-media li a{color:white;font-size: 36px;}

/*Sub Navigation*/    
.container.sub-navigation{display: block;padding-top: 15px;}   
.sub-navigation li{display: inline-block; text-align: center;}
.sub-navigation li a{display: block;font-size: 18px;color: #8F8F8F;padding-right: 15px}
.sub-navigation li a.active-sub-navigation{color:white;}

/*****PopUp*****/
 .popup_visible .item-popup-container{
    padding: 15px;
    background-color: #2d2d2d;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

.item-popup-container{
    max-width: 1170px;
    background-color: antiquewhite;
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
}

.item-popup-container .link-standard{color:magenta; transition: color 0.3s;}
.item-popup-container .link-standard:hover{color:crimson;}
.item-popup-container .p-link-standard{color:magenta; transition: color 0.3s; display: inline-block;margin-top: 0; margin-bottom: 0;}
.item-popup-container .p-link-standard:hover{color:crimson; cursor: default;}
.item-popup-container p{margin-bottom: 15px;}
.item-popup-container h3{margin-top: 0; margin-bottom: 5px;}
.item-popup-container h5 {margin-top: 2px; margin-bottom: 0;}
.item-popup-container ul {margin-top: 0; margin-bottom: 0;}

.item-popup-container *{color:#fdfdfd;}
.item-popup-title{font-size: 21px;}
.item-popup-title .fa-times{float: right; color: crimson;}
.item-popup-title .fa-times:hover{color: red; cursor: pointer;}
.item-popup-image{margin: auto;}
.item-popup-slider-column{
    background: rgba(0,0,0,.25);
    box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    padding:10px;
}
    

/*****Content Styles*****/    
/*Container Items*/
.container-items{        
    background: rgba(0,0,0,.25);
    box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    padding:10px;
    margin-bottom: 30px;
}
.container-items>*{padding: 5px;}
.container-items>*>img{
    filter: grayscale(0%);
    -webkit-transition: filter .3s;
    -kthtml-transition: filter .3s;
    -moz-transition: filter .3s;
    -ms-transition: filter .3s;
    -o-transition: filter .3s;
    transition: filter .3s;
}

.attraction-alt{display: none;}

/*Hover Effects*/
.hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}

.hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}

.hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}

.hovereffect h2 {
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:17px;
    background:rgba(0,0,0,0.6);
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;
}

.hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:box-shadow .2s ease-in-out;
    margin:50px 0 0;
    padding:7px 14px;
}

.hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
}

.hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
} 
   
/*****Education Stuff*****/
.employment-title{
    color:white;
    margin-top: 0;
    margin-bottom: 0;
}
.employment-sub-title{
    color:#8F8F8F;
    margin-top: 0;
    margin-bottom: 5px;
}
.employment-description{
    color: #F8F8F8;
}
.employment-description-list{

}
.employment-description-list li{
    color: #F8F8F8;
    font-size: 18px;
}

/*****Employment Stuff*****/
#logo-link:hover{text-decoration: none;}

.minHeightCol, .minHeightCol img, .minHeightCol .overlay{max-height: 250px; border-radius: 20px;}
.pad0{padding: 0;}
.pad5{padding: 5px;}
.mike-desc{color: white; text-align: left; padding: 10px;}
.reference h3{margin-top: 0; margin-bottom: 0; color: #f8f8f8;}


/*****Education Stuff*****/
.gold{color:gold;}
.universities>*{padding: 5px;}
.universities>*.school-content{padding: 0 5px;}
.school-content{color: #f8f8f8;}
.schoolLink{color:white;}
.schoolLink:hover{color:white;}
.link-mizzou{color:gold;}
.link-mizzou:hover{color:gold;}
.highlights{font}
.school-highlights{}
.school-highlights li{font-size: 18px;}
.school img{opacity: 0.6; cursor: pointer; transition: opacity 0.5s;}
.school img:hover{opacity: 1.0;}
.universities .active img{opacity: 1.0}

.courses>*{padding: 5px;}
.courses>*.school-content{padding: 0 5px;}
.course-content{color: #f8f8f8;}
.subject img{opacity: 0.6; cursor: pointer; transition: opacity 0.5s;}
.subject img:hover{opacity: 1.0;}
.subject.active img{opacity: 1.0}

.course-content>h2{color:white;}
.courseName{font-size: 21px; color:#f8f8f8;}
.courseNumber{font-size: 18px; color:#f8f8f8;}
.courseMetaData{color:#D0D0D0;}
.courseDescription{font-size: 16px; color:#f8f8f8;}

/*****Large-Medium Screens*****/    
@media(max-width:1199px){  
   .hovereffect a.info{margin: 30px 0;}
} 
    
/*****Medium-Small Screens*****/ 
@media(max-width: 991px){
    .title-divider{display: none;}
    #fullstack-dev{ clear:both;display: block;}
    #social-media li{margin-top: 10px;}
}
    
/*****Mobiles/*****/
@media(max-width:767px){
    #main-navigation{float: left; margin-top: 0;text-align: center;width:100%;}
    #main-navigation li{display: block;}
    #main-navigation li a{padding 0;padding-left: 0;}
    .sub-navigation li a{padding 0;padding-right: 0;}
    .sub-navigation li{display: block;}
    #logo{text-align: center;}
    #social-media{text-align: center;}
    #slogan{text-align: center;}
    #social-media li{margin-top: 0;margin-left: 5px; margin-right: 5px;}
    .reveal-container{height: auto !important;}
    .hovereffect h2{font-size: 14px; padding: 5px;margin-top: 10px;}
    .hovereffect a.info{margin: 5px 0;font-size: 12px;}
    .col-mike{margin-bottom: 40px;}
}






